<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myapp.mapper.UserMapper">

<!-- WHERE 태그 사용 이유 : WHERE AND 를 막기 위해
     이메일은 없고 비밀번호만 왔을때 쿼리문이
     WHERE AND PW = #{pw} 이 되므로 오류 발생됨
 -->
  <select id="getUserByMap"
          parameterType="Map"
          resultType="UserDto">
    SELECT USER_NO, EMAIL, PW, NAME, GENDER, MOBILE, EVENT_AGREE, SIGNUP_KIND, PW_MODIFY_DT, SIGNUP_DT
      FROM USER_T
    <where>
      <if test="email!=null">EMAIL = #{email}</if>
      <if test="pw!=null">AND PW = #{pw}</if>
    </where>
  </select>
  
  <insert id="insertUser"
          parameterType="UserDto">
    INSERT INTO USER_T
    VALUES (1, 'ABC@EMAIL.COM', '1111', 'ABC', 'MAN', '01011111111', 0, 0, CURRENT_DATE, CURRENT_DATE)        
  </insert>
  
  <insert id="insertAccessHistory"
          parameterType="Map">
    INSERT INTO ACCESS_HISTORY_T(
      ACCESS_HISTORY_NO
    , EMAIL
    , IP
    , SIGNIN_DT
    , SIGNOUT_DT
    ) VALUES (
        ACCESS_HISTORY_SEQ.NEXTVAL
      , #{email}
      , #{ip}
      , CURRENT_DATE
      , NULL)   
  </insert>

</mapper>